[2015-10-19 02:22] weiyideai520 opened #1 "Command not found. Review your Android SDK installation. Linux and Windows environments."
I'm sure you have installed android sdk，but still error.
what can i do?

[2015-10-19 08:00] pedrovgs commented on #1
Hi @weiyideai520 you have to configure your ANDROID_HOME environment var pointing at your Android SDK installation. Is this the answer to your question?

[2015-10-19 08:27] lulumeya commented on #1
I had same issue, and I configured ANDROID_HOME properly.
I want to know, how this plugin executes the command? It is not working on the variety context I think.

[2015-10-19 08:29] pedrovgs commented on #1
Here you have the class to execute commands https://github.com/pedrovgs/AndroidWiFiADB/blob/0a6af962f801e233a27092e26c22fdbe713325e9/src/main/java/com/github/pedrovgs/androidwifiadb/adb/CommandLine.java :)

[2015-10-19 08:29] tomer1 commented on #1
same problem here ANDROID_HOME is configure correct. and I get the message "command not found"

[2015-10-19 08:30] pedrovgs commented on #1
@tomer1 are you using Windows?

[2015-10-19 08:30] tomer1 commented on #1
linux

[2015-10-19 08:31] pedrovgs commented on #1
Can you paste here the output obtained executing `echo $ANDROID_HOME` in your terminal from your home directory?

[2015-10-19 08:32] tomer1 commented on #1
~$ echo $ANDROID_HOME
/home/tomer/Android/sdk/

[2015-10-19 08:32] pedrovgs commented on #1
@lulumeya are you also using Linux?

[2015-10-19 08:34] lulumeya commented on #1
@pedrovgs I am using os x
Can I know exactly what command is executed? like "adb version" ?

[2015-10-19 08:36] pedrovgs commented on #1
`adb version` is executed to know if `adb` is installed or not.
`adb devices -l` is executed to get the list of connected devices.

@lulumeya @tomer1 can you execute these commands in your terminal and paste here the output?¿

[2015-10-19 08:40] lulumeya commented on #1
@pedrovgs here are the outputs
➜  ~  adb version
Android Debug Bridge version 1.0.32
Revision eac51f2bb6a8-android
➜  ~  adb devices -l
List of devices attached
ZX1G22CL8F             device usb:14200000 product:shamu model:Nexus_6 device:shamu

ANDROID_HOME is env variable, not a path variable, the studio is GUI application that does not contain the variables configured to shell. When you execute

[2015-10-19 08:41] MiguelCatalan opened #2 "String index out of range: -5"
From a Windows environment I get this Exception:

[code]

**EDIT:**
FYI it is a Windows 10

[2015-10-19 08:43] pedrovgs commented on #1
@lulumeya this is the code which gets the full adb path. When you build the plugin to generate a new release that build can't use path env vars.

[code]

[2015-10-19 09:04] pedrovgs commented on #2
@MiguelCatalan can you paste here the output obtained executing the command `adb shell ip -f inet addr show wlan0` in your terminal?

[2015-10-19 09:05] lulumeya commented on #1
@pedrovgs I can't add env vars to which are executing the studio. my terminal has env vars, but studio it self doesn't.

[2015-10-19 09:07] lulumeya commented on #1
@pedrovgs
![image](https://cloud.githubusercontent.com/assets/364983/10573682/30f832a6-768c-11e5-99f8-b0ab3dd06b9e.png)
but pref is set properly.

[2015-10-19 09:10] lulumeya commented on #1
FYI, I used file which you uploaded, I didn't build new.

[2015-10-19 09:10] pedrovgs commented on #1
The plugin needs the path to your android sdk intallation. Can't you configure your env vars just doing something like this? Or in your bash profile?

[code]

[2015-10-19 09:11] lulumeya commented on #1
@pedrovgs
in my bash, It is configured correctly, but studio does not recognize it. :(

[2015-10-19 09:14] pedrovgs commented on #1
could that be a problem related to your Android Studio installation? A friend of mine had the same problem but declaring the env var got the plugin working perfectly :(

[2015-10-19 09:36] MiguelCatalan commented on #2
Sure:

[code]

[2015-10-19 09:55] pedrovgs opened #3 "ADB parsing error when ADB is not initialized."
Here there is a log trace which reflects this issue:

[code]

[2015-10-19 11:20] rhespanhol opened #4 "No icon"
I installed this plugin today but the icon wasn't added to the toolbar

edit: added screenshot

![screen shot 2015-10-19 at 12 24 22](https://cloud.githubusercontent.com/assets/11316354/10576647/ca8ad872-765c-11e5-9c7c-84b724af8654.png)

[2015-10-19 11:27] pedrovgs commented on #4
Hi @rhespanhol can you provide us some information related to the Android Studio or IntelliJ version you  are using, the operative system and a screenshot? Remember that in IntelliJ you have to enable your toolbar at: `View->Toolbar`Do you have this option enabled?

[2015-10-19 11:30] rhespanhol commented on #4
Im using:
osx version 10.11
android studio 1.4

I know the plugin was installed because it shows at Tools > Android > ADB WIFI

[2015-10-19 11:40] rhespanhol commented on #4
Sorry, i guess i must have downloaded the incorrect plugin from the repository. there is one with almost the same name

[2015-10-19 11:40] #4 closed, assigned to nobody

[2015-10-19 11:42] mdogancay commented on #2
@pedrovgs please change your code and rebuild your project:
(com/github/pedrovgs/androidwifiadb/adb/ADBParser.java)

[code]

This will add a basic search mechanism for the true line number.
I will wait next build.

[2015-10-19 13:09] santoshgistto commented on #1
@pedrovgs  i am using ubuntu ,same issue

export ANDROID_HOME=/home/my_machine/android-sdks
export PATH=$PATH:$ANDROID_HOME/platform-tools:$ANDROID_HOME/tools

[2015-10-19 13:28] pedrovgs commented on #1
@santoshgistto I guess you are executing that command line sentences in your bash profile file, don't you?

[2015-10-19 14:02] vrunoa commented on #3
What if you use `adb start-server` before calling the other commands ?

[2015-10-19 14:21] itxuye commented on #1
Hi,I had same issue, and I configured ANDROID_HOME properly.I'm using the windows.Can i use it in windows ?Like this?
![1](https://cloud.githubusercontent.com/assets/9589686/10580341/a8ddcd94-76af-11e5-892c-9baabff682f1.png)
![2](https://cloud.githubusercontent.com/assets/9589686/10580348/b4245650-76af-11e5-8c71-a0bbc833557c.png)

[2015-10-19 14:29] pedrovgs commented on #1
I'll review if the plugin is working as should in windows or not. Sorry for the inconveniences.

[2015-10-19 16:56] maoruibin commented on #1
I read above conversations and I meet same problem also , and i find problem is source to ANDROID_HOME not work. even if you execute after shell in Terminal

[code]

and execute

[code]

 the result is right ,but after next open window  ,the adb will not work,finally I check .bash_profile file  and I find in this file the var of ANDROID_HOME is not exist ,so I update .bash_profile manually and  th

[2015-10-19 17:17] maoruibin opened #5 "Unable to connect device 'MI_4W'. Review your WiFi connection."
I connect Mobile Device to PC use Usb and  click that button, but AndroidStudio point

[code]

I am sure the wifi is same in mobile and pc

[2015-10-19 18:10] santoshgistto commented on #1
@pedrovgs yes

[2015-10-19 18:20] santoshgistto commented on #1
@pedrovgs  cool its working now Thanks you :)
i restarted the studio.

[2015-10-19 20:55] pedrovgs commented on #5
@maoruibin can you paste here your device specifications: full device name, os version, etc? ADB does not support this feature with some devices.

[2015-10-19 22:26] pedrovgs commented on #2
@MiguelCatalan @mdogancay can you check if this version is working? https://drive.google.com/file/d/0B9xkpTnF9BXjSk9VeU92MUt5M1E/view?usp=sharing Remember to uninstall the current version and restart the IDE before to install this one. Thanks!

[2015-10-19 22:29] pedrovgs commented on #1
@santoshgistto @tomer1 @lulumeya @itxuye can you check if this version I've uploaded to my drive is working for your? https://drive.google.com/file/d/0B9xkpTnF9BXjSk9VeU92MUt5M1E/view?usp=sharing Remember to uninstall your current plugin version and restart your IDE before to install this one.

[2015-10-20 01:54] itxuye commented on #1
@pedrovgs Yes,it's working now.Thaks you.~~~

[2015-10-20 01:54] maoruibin commented on #5
full name:Xiaomi MI 4W
os version:4.4.4 KTU84P

I have a  another device Nexus6 and connect successfully ,I wish to you will fix XiaoMi bug , in china this company have a lot of users  include me, thanks advance.

[2015-10-20 02:05] weiyideai520 commented on #1
it's working now,Thaks you.~~~

[2015-10-20 06:25] santoshgistto commented on #1
@pedrovgs  yes, its working.

Thank you

[2015-10-20 07:11] mdogancay commented on #2
Hi @MiguelCatalan , I tested it now and it's works for me.
Cheers!

[2015-10-20 08:08] SnakeEys opened #7 "Slow speed when installing large apk."
My project is pretty large so it takes me too much time to build or install, besides, sometimes it can't be installed to my phone with the ERROR INSTALL_FAILED_INVALID_APK;
Is there any ways of improving the speed of installing large apk to my phone?
p.s Computer Info: 8GB RAM, 5400HDD, x86 64 Windows 7,
      phone: nexus 5 android 5.1.1; HUAWEI MATE 7;

[2015-10-20 08:13] pedrovgs commented on #7
I'm sorry @Cold-Snake but this plugin is using the Android Debug Bridge to start the WiFi connection and all the problems related to the performance or the apk installation can't be fixed changing the code of this project.

[2015-10-20 08:28] SnakeEys commented on #7
@pedrovgs
Thanks a lot, I'll do it as you say.

[2015-10-20 08:28] #7 closed, assigned to nobody

[2015-10-20 08:31] takboo opened #8 "can not uninstall in AndroidStudio 1.4.0"
i can't uninstall AndroidWiFiADB in AndroidStudio 1.4.0 and i can't use it,because there is no button on the bar.

[2015-10-20 10:16] pedrovgs commented on #5
@maoruibin can you try just with your MI 4W connected with your USB? I'm not sure if the current version supports two devices connected at the same time.

[2015-10-20 14:29] matteosist commented on #1
@pedrovgs i have the same error.

OS -> OSX El Captain

echo $ANDROID_HOME
/Users/msist/Library/Android/sdk/

sh-3.2# adb version
Android Debug Bridge version 1.0.32
Revision eac51f2bb6a8-android

sh-3.2# adb devices -l
List of devices attached
0693948a0b355c14       device usb:4195549184X product:hammerhead model:Nexus_5 device:hammerhead

how can fix it?

[2015-10-20 14:31] lulumeya commented on #1
@matteosist
In my case, I started studio in my terminal, and the plugin worked correctly.
May be GUI application launching context is different with our terminal

[2015-10-20 14:32] pedrovgs commented on #1
@matteosist I'm going to release a new version with the fix tonight. Review your bash profile configuration, your ANDROID_HOME should be exported there. I have a PR from @JcMinarro to avoid the ANDROID_HOME env var usage. Once be reviewed and merge I'll generate a new version with the fix. For you, the version 1.0.1 I'm going to release tonight will be enough. Regards!

[2015-10-20 17:37] pedrovgs commented on #8
@takboo can't you install it or uninstall it?

[2015-10-20 17:38] pedrovgs commented on #3
Fixed in the Release 1.1 I've just published :)

[2015-10-20 17:38] #3 closed, assigned to nobody

[2015-10-20 17:38] pedrovgs commented on #2
Fixed in the Release 1.1 I've just published :)

[2015-10-20 17:38] #2 closed, assigned to nobody

[2015-10-20 17:38] pedrovgs commented on #1
Fixed in the Release 1.1 I've just published :)

[2015-10-20 17:38] #1 closed, assigned to nobody

[2015-10-21 02:09] bu2zhouzhu opened #12 "Do not depend on the ANDROID_HOME environment variable."
I had tried to declare system variable ANDROID_HOME with values 'D:\Users\Administrator\AppData\Local\Android', 'D:\Users\Administrator\AppData\Local\Android\sdk', 'D:\Users\Administrator\AppData\Local\Android\sdk\platform-tools', 'D:\Users\Administrator\AppData\Local\Android\sdk\platform-tools\adb.exe', but none of them work. The plugin kept saying that 'adb commond not found. Review your Android

[2015-10-21 07:36] matteosist commented on #1
Thanks. Link for download? :)

[2015-10-21 08:14] tonyjs commented on #12
I'm too. Using mac osx(yosemite). /Users/userid/android-sdk-macosx/platform-tools.
same error occurred. 'adb commond not found. Review your Android SDK installation'

[2015-10-21 08:35] pedrovgs commented on #1
I've sent the new version but the IntelliJ store has to approve it. The plugin will be ready to download today or tomorrow. Here is the link -> https://plugins.jetbrains.com/plugin/7983

[2015-10-21 08:36] pedrovgs commented on #12
@tonyjs @bu2zhouzhu don't worry about the ANDROID_HOME var. I'm going to merge a PR from @JcMinarro to remove this requirement. The next version I'll publish, 1.2, will remove the usage of this variable and the plugin will work even if you don't declare it. Sorry for the inconveniences.

[2015-10-21 08:37] pedrovgs commented on #12
The PR is here -> #11. Maybe you want to take a look.

[2015-10-21 09:09] dhavaln commented on #5
Same error for me:
Device: Android One (Micromax AQ4501)
OS: 4.4.4

Though it works on my Nexus 7 with Android 4.4.4 so it must be some sort of device issue. I will look into the source over the weekend if I see can catch anything.

[2015-10-21 09:30] santoshgistto commented on #1
cool its very good tool :+1:  thank you :)

[2015-10-21 10:36] pedrovgs commented on #1
You are welcome @santoshgistto !

[2015-10-21 15:13] pinakinkansara commented on #8
@pedrovgs ,On Android Studio version 1.4 cant get plugin in the  Settings -> Plugin -> Browse Repositories , When search Android WiFi ADB

[2015-10-21 17:38] 3dm1 commented on #8
Search for ADB Wifi, and you should find it and be able to install.

[2015-10-21 17:40] pinakinkansara commented on #8
That is different plugin .not yours

On Wed 21 Oct, 2015 11:08 pm Edson Menegatti notifications@github.com
wrote:

_Pinakin Kansara_ / Sr Mobile Application Developer
pinakin.k.kansara@gmail.com / +91 9099721222/

 Skype :- pinakin.kansara

_Vedanta Soft_

www.vedantasoft.com http://signature-maker.net/www.vedantasoft.com

[2015-10-21 18:54] #8 closed, assigned to nobody

[2015-10-22 09:37] pedrovgs commented on #5
@dhavaln do you have your Nexus 7 and your Micromax AQ4501 devices connected at the same time to your computer?

[2015-10-22 09:59] dhavaln commented on #5
@pedrovgs No I am connecting only one at a time.

[2015-10-22 10:19] pedrovgs commented on #5
@dhavaln  can you connect your device from command line? You have to execute:

[code]

Can you paste here the result of the execution?

[2015-10-22 10:27] maoruibin commented on #5
@pedrovgs Yes , Now  it is right ,connect successfully ,Thanks for your job ~

[2015-10-22 11:18] dhavaln commented on #5
@pedrovgs It's working now. Thanks for the help. I didn't fire both the commands, I restarted adb on 555 and then clicked the Adb Wifi icon in Android Studio and got connected message. I tested with both the devices connected and it working as well. Thanks for the help.

[2015-10-22 11:25] #5 closed, assigned to nobody

[2015-10-22 11:36] pedrovgs commented on #5
Cool thanks!

[2015-10-22 12:06] pinakinkansara opened #13 "Version 1.1 not working on windows 10 with ANDROID_HOME variable path."
I have installed version 1.1 just now  but it also fails to connect to device over wifi.

error : adb command not found , Review your android SDK installation.

my environment variable setting
ANDROID_HOME = D:\SOFTWARE\adt_bundle\sdk\platform-tools

[2015-10-22 13:40] pedrovgs commented on #13
@pinakinkansara your android home should point at D:\SOFTWARE\adt_bundle\sdk not at platform-tools

[2015-10-22 14:13] Android-s14 commented on #1
@pedrovgs version 1.1 still doesn't work for me on linux. ANDROID_HOME is set in .bash_profile to point to the sdk, all correctly recognized from the IDEA's terminal, but not by the plugin.

[2015-10-22 14:19] pedrovgs commented on #1
Don't worry @Android-s14 I have a PR pending to be merged and a new release to avoid the usage of ANDROID_HOME ;)

[2015-10-22 14:49] pinakinkansara commented on #13
@Pedro I did the change as you mentioned in my ANDROID_HOME , and it still
gives the same error message.

On Thu, Oct 22, 2015 at 7:10 PM Pedro Vicente Gómez Sánchez <
notifications@github.com> wrote:

_Pinakin Kansara_ / Sr Mobile Application Developer
pinakin.k.kansara@gmail.com / +91 9099721222/

 Skype :- pinakin.kansara

_Vedanta Soft_

www.vedantasoft.com http://signature-maker.net/www.vedan

[2015-10-22 14:52] pedrovgs commented on #13
Did you restart your IDE? Next week I'm going to publish a version where the ANDROID_HOME is not needed. If you don't get the plugin working today wait for the next release. Sorry for the inconveniences.

[2015-10-23 05:30] ranjithstar256 commented on #13
Hi me too facing the same issue.. Will wait for the update.. Thanks..

Ranjith,
(ranjithstar256@gmail.com)

[2015-10-23 08:47] uditunpluged commented on #13
Please add a fix for OS X.... v1.1 same error on mac

[2015-10-23 10:20] ruancaipu commented on #12
error
  Android WiFi ADB: 'adb' command not found. Review your Android SDK installation.

[2015-10-23 16:31] danlegion opened #14 "Exception thrown when running USB to WIFI"
I have installed the plugin from the repository inside the Android Studio.
Version installed is 1.0.1
I am running AS 1.4
ANDROID_HOME is created and added to my path
I have restarted AS and adb several times and I get the same exception when trying to do USB to WIFI
![screen shot 2015-10-23 at 10 26 46 am](https://cloud.githubusercontent.com/assets/2336246/10699020/25895f98-7971-11e5-8756-ed3a76e

[2015-10-24 03:55] ruancaipu commented on #14
The first connection must be connected with the USB？？

[2015-10-24 03:59] danlegion commented on #14
Yes. My device was connected

[2015-10-24 08:38] ruancaipu commented on #14
Thanks!If you don't have to connect with USB, it's perfect. Look forward to

[2015-10-24 22:42] danlegion commented on #14
Hey @yyloveruancaipu I meant that my device was connected to USB when I got the exception.

[2015-10-25 13:56] pedrovgs commented on #14
Hey @danlegion I've released the version 1.2. Can you review if your still have this problem with the plugin?

You can download it from the official IntelliJ Plugin Store: https://plugins.jetbrains.com/plugin/7983

[2015-10-25 13:58] pedrovgs commented on #13
I've released a new version which fixes this issue. Thanks for your help :)

[2015-10-25 13:58] #13 closed, assigned to nobody

[2015-10-25 13:58] pedrovgs commented on #12
The new version I've released fixes this issue. Thanks for your help!

[2015-10-25 13:58] #12 closed, assigned to nobody

[2015-10-25 17:21] Shajeel-Afzal opened #16 "Sorry i could not find it in the reposotiroes from Android studio"
Hi, I searched for Android WiFi ADB but i could not find it from the repositories, can you please check?

[2015-10-25 17:39] pedrovgs commented on #16
Open you IDE and then go to Preferences/Settings->Plugins->Browse Repositories. Then you can search Android WiFi ADB and install the plugin. If you don't find the plugin you can download it from this link https://plugins.jetbrains.com/plugin/7983 and install it manually. Is this the answer to your question?

[2015-10-25 17:44] Shajeel-Afzal commented on #16
I don't see it in my Android Studio, you can see in the screenshot, also your latest version that you released today is not approved so far on Jetbrains.

<img width="818" alt="screen shot 2015-10-25 at 10 41 20 pm" src="https://cloud.githubusercontent.com/assets/3718283/10716914/d7d2adfe-7b69-11e5-8032-fc8396731f7b.png">
<img width="800" alt="screen shot 2015-10-25 at 10 42 15 pm" src="https://cl

[2015-10-25 17:51] pedrovgs commented on #16
@Shajeel-Afzal the version I've released today is wait for approve. I hope tomorrow will be ready to download. I don't know this plugin does not appear in Android Studio :( I'm using IntelliJ right now and the plugin is available.

![captura de pantalla 2015-10-25 a las 18 47 38](https://cloud.githubusercontent.com/assets/4030704/10716958/44fb14be-7b49-11e5-9bc9-6c5621c6bd6f.png)

I'm going to sen

[2015-10-26 02:32] Rowandjj opened #17 "adb command not found.."
<img width="516" alt="2015-10-26 10 22 03" src="https://cloud.githubusercontent.com/assets/5766252/10719851/75af804a-7bcb-11e5-9cb3-371b68ec330e.png">
but i have already setting ANDROID_HOME environmental variable,adb command can found in terminal.

[2015-10-26 06:36] danielsunyu commented on #17
I have the same issue...

[2015-10-26 07:40] MiguelCatalan opened #18 "There are no devices connected. Review your USB connection and try again."
I'm getting this error over and over.

[code]

Using Windows 10, AS 1.4 and One plus One device.

[2015-10-26 07:56] pinakinkansara commented on #13
Thanks @Pedrovgs , Version 1.2 is working like charm

[2015-10-26 08:18] treycc opened #19 "Device connected successful,but device disconnect after disconnected USB"
![abc](https://cloud.githubusercontent.com/assets/15090153/10723958/2644dc32-7bfb-11e5-865a-c6373099d703.PNG)
![cde](https://cloud.githubusercontent.com/assets/15090153/10724035/03b15b36-7bfc-11e5-8d92-3506652ee679.PNG)

Device connection is successful, the connected devices list there are two devices, but after disconnected USB, the two devices are gone.
This phone and my computer can transfer da

[2015-10-26 10:00] emile2013 opened #20 "can't useable"
In intellij Event Log window shows  error like that:
StringIndexOutOfBoundsException: String index out of range: -4

[2015-10-26 10:04] pedrovgs commented on #19
@treycc I have bad news for you, the problems related with the device connection once the device has been connected over WiFi is something we can't fix from our plugin. Review if you are using the last adb version of if there is any problem with your device or your WiFi configuration. From my side it's impossible to fix this issue :(

[2015-10-26 10:04] #19 closed, assigned to nobody

[2015-10-26 10:16] pedrovgs commented on #13
You are welcome @pinakinkansara Thanks for your help reporting problems with the plugin!!

[2015-10-26 10:17] pedrovgs commented on #17
@dannysuen @Rowandjj I've released a new version to avoid the usage of this ANDROID_HOME var. Can you update your plugin installation. This is already fixed :)

[2015-10-26 10:17] #17 closed, assigned to nobody

[2015-10-26 10:37] johnwatsondev commented on #18
Same issue. Mac OS X 10.11.1 , Nexus 5 , AS 1.4 stable channel and AndroidWiFiADB 1.2 .
`Android WiFi ADB: There are no devices connected. Review your USB connection and try again.`

[2015-10-26 10:41] vanniktech commented on #16
I also could not find it yesterday, however today I found it and could install it.

[2015-10-26 10:43] vanniktech opened #21 "Unable to connect device 'GT_I9300'. Review your connection"
I'm using the 1.2 version of this plugin together with AS 1.5 Preview 2.

The S3 is in my WiFi and I can also ping to it from my computer and vice versa.

Do you know what could be the issue?

[2015-10-26 10:51] VivekKumarApps opened #22 "Device connected successful,but device disconnect after disconnected USB Cable"
Hello,

I am able to connect the device successfully but it disconnect when the USB cable is disconnect.
But this is working fine for below lollipop devices(below 5.0), this is not working on 5.0 or above devices.

I am waiting for your response.

Thanks,
Vivek Kumar

[2015-10-26 11:50] SandyDheringe commented on #22
Yes same thing observed by me

[2015-10-26 13:05] YZakher opened #23 "IOException is thrown when you click on the toolbar button to establish connection."
Broken pipe java.io.IOException: Broken pipe at sun.nio.ch.FileDispatcherImpl.write0(Native Method) at sun.nio.ch.SocketDispatcher.write(SocketDispatcher.java:47) at sun.nio.ch.IOUtil.writeFromNativeBuffer(IOUtil.java:93) at sun.nio.ch.IOUtil.write(IOUtil.java:65) at sun.nio.ch.SocketChannelImpl.write(SocketChannelImpl.java:470) at com.android.ddmlib.JdwpPacket.writeAndConsume(JdwpPacket.java:213)

[2015-10-26 13:55] pedrovgs commented on #23
Are you sure that you are using my plugin? That's trace does not seem related to my plugin because I don't use DDMLIB in my project :(

[2015-10-26 13:58] YZakher commented on #23
I am using version 1.2, here is the link
https://plugins.jetbrains.com/plugin/7983?pr=&showAllUpdates=true

On Mon, Oct 26, 2015 at 3:55 PM, Pedro Vicente Gómez Sánchez <
notifications@github.com> wrote:

[2015-10-26 14:14] pedrovgs commented on #23
I'm sorry but I can't help you. Reviewing the trace the error is related to the IntelliJ AndroidSdkUtils class I'm using. I guess if you update your IntelliJ/Android Studio version this bug will be fixed. Sorry but I can't change the code of my plugin to fix this :(

[2015-10-26 14:14] #23 closed, assigned to nobody

[2015-10-26 14:25] treycc commented on #19
@pedrovgs thanks

[2015-10-26 14:27] pedrovgs commented on #19
I'm so sorry. I'd like to improve this, but I can't improve the Android Debug Bridge from my side.

[2015-10-26 14:37] treycc commented on #19
@pedrovgs i try to check whether there is problem with Android Debug Bridge,or try an other phone

[2015-10-26 14:39] athkalia opened #24 "Exception is thrown in intellij 15"
Hello,

as soon as I click the wifi button I get this exception thrown:

[code]

Seeing this in Intellij 15 EAP, v 143.379.11

[2015-10-26 14:47] pedrovgs commented on #22
I'm sorry guys, but I've already closed the same issue few minutes ago. The problem is not related with my plugin. Read this issue comments to get more information #19 .

[2015-10-26 14:47] #22 closed, assigned to nobody

[2015-10-26 14:51] pedrovgs commented on #16
@Shajeel-Afzal can you try again? I've sent an email to the IntelliJ Store support guys but I don't have answer jet.

[2015-10-26 15:47] danlegion commented on #14
Hey @pedrovgs it works phenomenally well! Thanks for the plugin.

[2015-10-26 17:16] pedrovgs commented on #14
You are welcome @danlegion I'll close this issue :)

[2015-10-26 17:16] #14 closed, assigned to nobody

[2015-10-26 17:22] Android-s14 commented on #21
I have the same problem. Tried 4.4.2 and 6.0 devices. Are there any special preconditions needed?

[2015-10-26 18:06] diogochbittencourt commented on #21
Same problem here. Nexus 4, Android 5.1.1, plugin 1.2.

[2015-10-26 20:30] pedrovgs commented on #21
@diogochbittencourt @Android-s14 @vanniktech can you try to execute this commands and paste the output here?

[code]

Replace 192.168.2.131 with the IP assigned to your device.

Thanks!

[2015-10-26 20:32] pedrovgs commented on #24
@athkalia which plugin version are you using? Can you try to execute this commands and paste the output here?

[code]

Replace 192.168.2.131 with the IP assigned to your device.

Thanks!

[2015-10-26 20:34] pedrovgs commented on #16
I've checked this issue by my self again and as @vanniktech says, the plugin is already available in the Android Studio store. I'm closing this issue. Thanks for your help!

[2015-10-26 20:34] #16 closed, assigned to nobody

[2015-10-26 20:34] pedrovgs commented on #18
@MiguelCatalan @johnwatsondev  can you try to execute this commands and paste the output here?

[code]

Thanks!

[2015-10-26 20:35] pedrovgs commented on #20
@emile2013 which plugin version are you using?  Can you try to execute this commands and paste the output here?

[code]

Replace 192.168.2.131 with the IP assigned to your device.

Thanks!

[2015-10-27 01:26] johnwatsondev commented on #18
@pedrovgs
![qq20151027-0 2x](https://cloud.githubusercontent.com/assets/12760754/10747109/9439c64e-7c8c-11e5-8b82-7ef69a4fa977.png)

[2015-10-27 02:18] emile2013 commented on #20
hi, @pedrovgs :
    I'm using the version of 1.2 . and i had executed the commands that you offer,and the outputs like  that:
     unable to connect to 172.18.3.52:5555

[code]

[2015-10-27 06:49] vanniktech commented on #21
Hmm I'm sorry but I can't reproduce it anymore. Now the plugin does work for me. In case it won't during this day, I'll post the output here.

[2015-10-27 06:59] root1 opened #25 "Icon not showing in the toolbar"
i installed the plugin and restarted android studio but the icon to switch to wifi debug is still not showing

[2015-10-27 08:08] MiguelCatalan commented on #18
@pedrovgs after running the first command

[code]

And the plugin worked like charm

[2015-10-27 08:45] SaitejaP commented on #25
I am using studio 1.4.1. Same issue here

[2015-10-27 09:56] ranjithstar256 commented on #13
Hi @pedrovgs,

can you help me why i am getting this error? when click on the AndroidWifiADB icon in the top?

" StringIndexOutOfBoundsException: String index out of range: -5 "
![untitled](https://cloud.githubusercontent.com/assets/7418487/10754626/e50c25d0-7cbe-11e5-901b-967ab9df82ca.jpg)

[2015-10-27 10:42] pedrovgs commented on #13
Which version are you using?

[2015-10-27 10:43] pedrovgs commented on #25
@root1 @SaitejaP can you upload an screenshot of the plugin you've installed? If you've installed the plugin and restarted the IDE you should see the icon. Review also that your toolbar is visible in the view options. Thanks!

[2015-10-27 10:45] pedrovgs commented on #18
@johnwatsondev review your ADB installation.  There is something wrong there. I can't change the code of my plugin to get you adb installation working, sorry. I'm closing this issue. Maybe the problem is related to your device. Did you connect your USB cable to the device before to press the button? ;)

[2015-10-27 10:46] pedrovgs commented on #18
@MiguelCatalan AFAIK you know java and could be awesome if you reproduce the bug again and send me a PR with the fix. It's quite simple. What do you think?

[2015-10-27 10:46] #18 closed, assigned to nobody

[2015-10-27 11:05] SaitejaP commented on #25
<img width="370" alt="screen shot 2015-10-27 at 4 15 25 pm" src="https://cloud.githubusercontent.com/assets/6340565/10755830/2d8fb022-7cc6-11e5-810f-dd1b501d64f0.png">

Here is the screenshot. I am trying to use the tool from `tool -> android -> adb wifi -> adb usb to wifi`. Still I could not use adb over wifi but when I disconnect usb, studio prompts `device '192.168.1.102:5555' not found` . FYI,

[2015-10-27 11:09] pedrovgs commented on #25
@SaitejaP you are not using my plugin. You've installed another one!

![facepal](https://media.giphy.com/media/ADr35Z4TvATIc/giphy.gif)

[2015-10-27 11:09] #25 closed, assigned to nobody

[2015-10-27 11:23] SaitejaP commented on #25
Oops! I installed the correct plugin from disk downloaded from [here](https://plugins.jetbrains.com/plugin/7983). This time, the icon is visible and could connect over wifi. But when I disconnect usb (after confirming the connected devices using `adb devices` command), it also disconnects over wifi.

[2015-10-27 11:25] pedrovgs commented on #25
Your problem is not related to my plugin. Your problem is related to your adb installation. I can't change my plugin to fix your problem. Update your adb installation and everything should be fine.

[2015-10-27 12:10] malmstein commented on #25
![giphy](https://cloud.githubusercontent.com/assets/531613/10757547/adf85a7a-7ca3-11e5-8f13-1ef779e486fd.gif)

[2015-10-27 14:08] Android-s14 commented on #21
[code]

[2015-10-27 16:51] saulmm commented on #25
![choice](https://cloud.githubusercontent.com/assets/3531999/10765452/21c5cd3c-7cd3-11e5-932f-f056901beb9a.gif)

[2015-10-27 19:59] cesards commented on #25
![wroooong](https://cloud.githubusercontent.com/assets/1536079/10770828/a4e0d382-7ced-11e5-80bd-e226f7fe89b8.gif)

[2015-10-27 21:50] athkalia commented on #24
Hello,

I am using latest version, v1.2. When I use the commands it works fine and I get connected, I tried an over the air deployment and it succeeded. But once I disconnect and I am connected via USB again, if I click on your plugin button I get the very same exception

[2015-10-28 01:20] johnwatsondev commented on #18
@pedrovgs Sorry about that i didn't read the **`Usage`** carefully. I didn't connect my device through cable with AS...  My fault. :sob:

[2015-10-28 06:59] liericiyan opened #27 "Android WiFi ADB: There are no devices connected. Review your USB connection and try again."
Android WiFi ADB: There are no devices connected. Review your USB connection and try again.

[2015-10-28 07:07] liericiyan commented on #27
Android WiFi ADB: Unable to connect device 'LG_D858'. Review your WiFi connection.

[2015-10-28 07:21] #27 closed, assigned to nobody

[2015-10-28 07:42] pedrovgs commented on #18
No problem @johnwatsondev

[2015-10-28 07:45] pedrovgs commented on #24
Please, execute that commands and paste the result here. I need to check if there is something wrong with the output adb prints.

[2015-11-01 12:11] hegazy commented on #21
@pedrovgs I have GTI9500 and the commands you provided is working.
@Android-s14 Did you connect it using USB first before executing these commands?

[2015-11-01 18:13] Android-s14 commented on #21
@hegazy yes

[2015-11-02 20:11] pedrovgs commented on #21
@Android-s14 are you connected to any special WiFi network? Can you try using another WiFi connection?

[2015-11-02 20:18] pedrovgs commented on #20
@emile2013 did you connect your device to the computer using a USB cable before to execute the command?

[2015-11-03 02:34] Android-s14 commented on #21
That's a corporate network, and I understand there's probably not much the plugin can do, since it's more of an adb problem. I was just hoping there's some workaround for this problem. The plugin works fine for me in my home network.

[2015-11-03 08:01] pedrovgs commented on #21
These problems are not related with the plugin. If the environment where adb is executed is not supported because the Wifi ports configuration is not working as should or because you don't connect the device at your computer before to press the button the plugin does not work. I'm going to cose this issues because all the people commenting here have already solve their problems. Thanks for your he

[2015-11-03 08:01] #21 closed, assigned to nobody

[2015-11-03 09:33] vanniktech commented on #21
Thanks for your awesome plugin @pedrovgs

[2015-11-04 13:46] mnleano opened #28 "String index out of range: -5"
String index out of range: -5
java.lang.StringIndexOutOfBoundsException: String index out of range: -5
    at java.lang.String.substring(String.java:1937)
    at com.github.pedrovgs.androidwifiadb.adb.ADBParser.parseGetDeviceIp(ADBParser.java:71)
    at com.github.pedrovgs.androidwifiadb.adb.ADB.getDeviceIp(ADB.java:68)
    at com.github.pedrovgs.androidwifiadb.adb.ADB.connectDeviceByIp(ADB.java:5

[2015-11-04 13:58] pedrovgs commented on #28
@mnl-assasin can you provide us the steps to reproduce, the version of IntelliJ/AndroidStudio you are using, the version of the plugin you've installed, the device you've connected, etc?

[2015-11-04 19:26] androidocean20 opened #29 "It's can't connect to Nexus 6p"
It's can't connect to Nexus 6p (Android 6.0)
AndroidWifiADB 1.2
AndroidStudio 1.4
It's nothing to show when I click the AndroidWifiADB button.

[2015-11-06 00:27] mnleano commented on #28
Hi sir,
I got it from here:
https://plugins.jetbrains.com/plugin/7983

But after doing some research with other bugs, I find working thou I got other problem maybe you can help me.

I got an error of
adb command not found.

I tried to add these to my ~/.profile and ~/.bash_profile

export PATH=Users/mykelneds/Library/Android/sdk/tools:$PATH
export PATH=Users/mykelneds/Library/Android/sdk/platform-

[2015-11-06 02:08] mnleano commented on #28
so I get back to
String inex out of bounds after i fix adb not found -_-

https://drive.google.com/file/d/0B9xkpTnF9BXjSk9VeU92MUt5M1E/view?usp=sharing

I got the plugin from the link above.

[2015-11-06 02:17] mnleano commented on #28
https://plugins.jetbrains.com/plugin/7983

I tried it again. :( still StringOutOfBounds

[2015-11-06 12:59] pedrovgs commented on #28
@mnl-assasin  Which plugin version are you using? The ANDROID_HOME variable is not needed anymore if you install the plugin version 1.2.

[2015-11-06 13:00] pedrovgs commented on #29
I'm not sure if the problem is related to the device but let me some time to get a Nexus 6p device to check what's going on.

[2015-11-10 08:55] mladenbabic opened #30 "I/O Error: EOF Occurred on start button in AS"
The phone was connected with USB and after I pressed the AndroidWifiADB button I disconnected the phone. On start button I got I/O Error: EOF.

[2015-11-11 01:15] ralphilius opened #31 "Can't connect after reconnecting to Wifi"
This is not a bug, but a feature request. When I turned off Wifi then connected to it again, the adb wouldn't recognize since the IP might change.

Is there any way we can adjust the IP and continue using without reconnecting via USB?

[2015-11-11 20:26] pedrovgs commented on #31
You should be able to know when the device is disconnected, keep it in memory and then try to connect again once the USB is reconnected.

[2015-11-12 20:44] saulmm opened #32 "Icon not shown when toolbar its hidden"
It would be nice to show the adb wifi icon even if the toolbar is hidden, as Fabric does

<img width="1262" alt="screen shot 2015-11-12 at 21 42 32" src="https://cloud.githubusercontent.com/assets/3531999/11130656/782c63c4-8986-11e5-99ed-0d54a37fe4f9.png">

[2015-11-12 23:38] pedrovgs commented on #32
Wow @saulmm it could be great if you collaborate with this project implementing this feature!

[2015-11-14 21:55] athkalia commented on #24
adb tcpip 5555
restarting in TCP mode port:5555

then there's no cursor to continue writing.
If I open a new command line to type the second command i get:
adb connect 192.168.1.94 (my ip)
connected to 192.168.1.94:5555

Then it works fine. Seems like there problem lies in the intellij plugin,
version of intellij is 143.747.6 (very latest 15 version)

[2015-11-17 22:00] Noiseapps commented on #29
Hello,
maybe I'll add something to this issue. I've noticed the problem on a couple of Android 6.0 devices. Tested on Nexuses 5 (two of those), 6 and, 9. With every of those the problem is:
`ADB WIFI: /system/bin/sh: netcfg: not found`
Hope it helps to locate the issue (can test if need be)
Best regards

[2015-11-18 07:26] passiondroid opened #33 "Exception thrown in Intellij 13.1.3"
NoSuchMethodError: org.jetbrains.android.sdk.AndroidSdkUtils.getAdb(Lcom/intellij/openapi/project/Project;)Ljava/io/File;: org.jetbrains.android.sdk.AndroidSdkUtils.getAdb(Lcom/intellij/openapi/project/Project;)Ljava/io/File;

[2015-11-24 11:50] razi3742 commented on #13
i am facing same issue  on android studio 1.5 Android WiFi ADB threw an uncaught StringIndexOutOfBoundsException
![untitled](https://cloud.githubusercontent.com/assets/6662328/11365771/98534058-92ca-11e5-8751-6069a0463095.png)
![untitsadled](https://cloud.githubusercontent.com/assets/6662328/11365882/767ccf66-92cb-11e5-8475-6cdbc87b64cc.png)

[2015-11-24 11:56] pedrovgs commented on #13
@razi3742 can you try with the latests version I've published? It's already available in the IntelliJ Plugin's Store.

[2015-11-27 09:47] andreykadatsky commented on #29
The same issue - Android Studio 1.5, Macbook with OS 10.10.5, Nexus 6p and wifi 5G.

[2015-12-13 20:14] #20 closed, assigned to nobody

[2015-12-13 20:15] pedrovgs commented on #28
Already fixed in version 2.0

[2015-12-13 20:15] #28 closed, assigned to nobody

[2015-12-13 20:15] pedrovgs commented on #30
@mladenbabic can you try with the new version I've released today? Version 2.0

[2015-12-13 20:16] pedrovgs commented on #33
Hi @passiondroid can you try with the new version I've released today? Version 2.0

[2015-12-15 09:24] julioyg commented on #29
Same here, can connect all my devices but my nexus 6p.

Mac OS 10.11.2
Android Studio 2 preview 3b
Nexus 6p 64GB (Running Android 6.0.1)

[2015-12-15 10:06] pedrovgs commented on #24
@athkalia can you try again with the latest version I've released?

[2015-12-15 19:37] athkalia commented on #24
Hello

I can see the device connected in the new little window that you added for intellij. When I click on connect I get the message:

"Unable to connect device 'HTC_One_max' Review your WiFi connection"

note that if I hit

[code]

in the terminal, my device is there, and i can deploy stuff to it just fine.

Also note that I have my wifi enabled on the phone and I can browse the internet just fi

[2015-12-15 19:57] pedrovgs commented on #29
Guys, I don't have a Nexus 6p and I'm not going to buy one xD. We have two options to fix this. Debug it by yourself and send me a PR with the fix, or send me a Nexus 6 :) As you wish :P Sorry for the inconveniences :(

[2015-12-23 22:32] Shajeel-Afzal opened #36 "Not able to connect my device"
I am getting following message even both devices are on the same Wifi. Any suggestions?

<img width="500" alt="screen shot 2015-12-24 at 3 31 53 am" src="https://cloud.githubusercontent.com/assets/3718283/11986228/02be1266-a9ef-11e5-86f6-353411ad23ff.png">

[2015-12-24 11:24] pedrovgs commented on #36
Hi @Shajeel-Afzal can you try to connect your device from your terminal? You only have to execute:

[code]

Some devices does not support this feature and maybe yours is one :(

[2016-01-06 15:00] nonahex commented on #29
I was able to connect Nexus 6P, when it was on cable and set connection to PTP. Plugin said, it's connected. When I pressed button "Run", in dialog was Nexus twice - one for cable connection and one for wifi. But when I disconnected cable, both records disappeared.

[2016-01-13 10:09] julioyg commented on #29
works for me after `adb tcpip 5555`

[2016-01-13 11:21] ahpiau18 commented on #36
i have the same problem in Android Studio 1.5.1

[2016-02-18 06:34] iqbalhusen opened #37 "Shows device connected in AndroidWiFiADB dashboard. But "Nothing to show" in "Choose a running device" on clicking Android Studio's Run button."

[2016-03-04 13:16] bradroid commented on #30
I'm having the same issue after downloading the latest version today (v2.2).

[2016-03-14 05:03] ShreyashPromact opened #38 "It is not working for MOTO E2 but for other device it is working fine"
Hello,

I have some different devices with me to test. Many of them are getting connected with this plugin. But somehow, it is not working for Motorola E2. I have try a lot but every time when i connect device with USB cable and then click on Connect button to get it connected by the WIFI, and then When i remove the cable, it get disconnected from the ADB.

Can you please check for this issue and

[2016-03-21 04:24] sudhirkhanger opened #39 "Moto G3 connects fine but removing cable disconnects the device"
When I connect my Moto G3 to the Android Studio and click on the plugin icon I see that phone gets connected properly but at the same time when I remove the usb cable it is gone. No device is connected as soon as I remove the cable.

I am able to connect fine by `adb tcpip 5555`, remove cable, and `adb connect ip-address`.

[2016-04-07 11:34] passiondroid commented on #33
@pedrovgs - Sorry for testing it too late but same issue still occurs.

[2016-04-15 06:23] john1jan commented on #39
Same thing happens for me as well. When i connect usb cable it shows

List of devices attached
ZY222VM86H      device
172.17.94.7:5555        device
<img width="484" alt="screen shot 2016-04-15 at 11 53 00 am" src="https://cloud.githubusercontent.com/assets/4264813/14552991/9ee8e610-0300-11e6-9f90-0d8248fae162.png">

But when i disconnect usb, the device is also disconnects from wifi.

My device a

[2016-04-16 04:13] AlokBansal8 commented on #39
Using Android Studio 2.1 Beta 2 and its not connecting with my Moto G2.

![screen shot 2016-04-16 at 9 33 29 am](https://cloud.githubusercontent.com/assets/12045853/14578991/952e919e-03b7-11e6-996c-bbbed3744eff.png)

Many a times it shows following message despite my computer and device are connected with same WiFi network.
![screen shot 2016-04-16 at 9 44 21 am](https://cloud.githubusercontent.co

[2016-04-24 09:26] giaotuancse commented on #39
The same issue on Moto X 2014. And Anroid Studio 2.0

[2016-04-25 04:57] giaotuancse commented on #39
UPDATED: Try to use terminal to connect when unplug the USB cable
Use command: "adb connect yourIP:yourPort"
Ex: "adb connect 192.168.1.19:5555"

[2016-04-25 07:43] sudhirkhanger commented on #39
@giaotuancse That's no news. If we had to do that we wouldn't need this plugin.

[2016-05-10 19:00] pedrovgs commented on #39
Sorry for the delay, I've been out for some time. @sudhirkhanger @giaotuancse   there are some devices which do not support the debug over wifi feature. This plugin is just a UI executing the commands @giaotuancse pointed. If the device does not support this feature I can not change the plugin code to get it working :S. Sorry, I'm closing this issue.

[2016-05-10 19:00] #39 closed, assigned to nobody

[2016-05-10 19:06] pedrovgs commented on #33
@passiondroid can you check if the same exception is thrown in the latest IntelliJ/AndroidStudio version?

[2016-05-10 19:13] pedrovgs commented on #38
Sorry for the delay, I've been out for some time. @ShreyashPromact  there are some devices which do not support the debug over wifi feature. This plugin is just a UI executing the commands some adb commands. If the device does not support this feature I can not change the plugin code to get it working :S. Sorry, I'm closing this issue.

[2016-05-10 19:13] #38 closed, assigned to nobody

[2016-05-10 19:14] pedrovgs commented on #30
Guys can you send me the steps to reproduce and the devices you are using?

[2016-05-10 19:19] pedrovgs commented on #37
Hi @iqbalhusen sorry for the delay, I've been out for some time. Can you send me the information of the version you are using and the steps to reproduce the bug? I need more information to fix this issue :(

[2016-05-10 20:04] sudhirkhanger commented on #39
@pedrovgs If we are talking about the same thing what makes you think that Moto G3 doesn't support adb over wifi. I use my Moto G3 with adb over wifi every day for hours. It's the plugin which doesn't work.

[2016-05-10 20:08] pedrovgs commented on #39
@sudhirkhanger what commands do you execute to connect your device over wifi? I'd like to know if the commands executed are different :)

[2016-05-11 04:35] ShreyashPromact commented on #38
@pedrovgs

Thanks for reply.
If possible, can you please keep one note with the listing of all unsupported device that you came to know. It will help other developers  to know whether to use this library or not.

Sincerely,
Shreyash

[2016-05-11 04:38] sudhirkhanger commented on #39
@pedrovgs

[code]

Exactly how it's discribed in the `adb` docs.
https://developer.android.com/tools/help/adb.html#wireless

[2016-05-11 08:14] pedrovgs commented on #39
That's the command the plugin executes :( Could you debug the plugin and try to find the bug? All the devices I have are working as expected with the plugin and I don't have a Moto G3 :( Including my Nexus 5X and Nexus 6P.

[2016-05-11 08:50] AlokBansal8 commented on #39
@pedrovgs I am also running my Moto G2 phone using the commands mentioned in the developer site documentations.
Tell me, how can I debug the plugin?

[2016-05-11 08:55] pedrovgs commented on #39
Thanks @AlokBansal8 you can clone the repository, run it and debug it from your IntelliJ :)

[2016-05-27 09:42] liuxgchi opened #40 "it can not work"
I has download all the plugin you released,and it looks like work well,and can connect successfully. and i can find my device in the select dialog.I used the intellij, please help me! thanks

[2016-05-27 09:44] pedrovgs commented on #40
I'm sorry @liuxgchi but I don't understand you at all :(

[2016-05-28 09:14] liuxgchi commented on #40
I have found the reason, It can work but slowly, I have to wait for a moment ,and the app can run on the devices.

[2016-05-28 09:39] #40 closed, assigned to nobody

[2016-05-30 06:36] liuxgchi commented on #36
My device can connect to the intellij, but after click the run button when the net is well, and I have to wait a long time util the device run the app.Please help me and tell me how can I promote the speed!

[2016-05-30 07:37] liuxgchi opened #41 "how can I promote the speed!"
My device can connect to the intellij, but after click the run button when the net is well, and I have to wait a long time util the device run the app.Please help me and tell me how can I promote the speed!

[2016-05-31 14:20] rdonuk opened #42 "Manual adding feature"
Hi, I am not able to connect devices via usb to my computer. So, I need to add devices with an add button manually. After I type the device IP and add to the window, with connect button it should be connect over wifi without usb connection. Is this possible?

Thank you.

[2016-06-02 07:47] jjhesk opened #43 "The devices grid table is not shown properly in Android Studio 2.1.0"
please fix this as this happens like a must. we are using android studio 2.1.0

[2016-06-12 06:37] lightcommy commented on #36
same problems solved! tku so much!!!

[2016-06-12 07:12] lightcommy commented on #41
same problems

[2016-06-12 08:54] Kobzol opened #44 "Enable the plugin in other types of project"
Could the plugin be activated for other types of projects (other than Android)? I'd like to use it for debugging a Cordova applucation.

[2016-06-26 10:31] pedrovgs commented on #44
Hi @Kobzol we need the Android sdk path to be able to use adb from the plugin. If you want to use the plugin you need to configure the android dependency into your IntelliJ installation.

[2016-06-26 10:33] pedrovgs commented on #41
Hi @liuxgchi and @lightcommy! To promote the speed configuration we depend on the Android adb implementation. This plugin just connects the device with your IDE using adb. If the adb implementation is slow I can't change the code to speed up the deploy process.

[2016-06-26 10:33] #41 closed, assigned to nobody

[2016-06-26 10:38] pedrovgs commented on #43
Hi @jjhesk can you provide an screenshot with the problem?

[2016-06-26 10:46] pedrovgs commented on #42
Hi @rdonuk!

This plugin is based on a adb feature which requires to connect the device using the usb cable. Using this plugin and adb it's impossible to connect your device through wifi without connecting it using your usb cable.

[2016-06-26 10:46] #42 closed, assigned to nobody

[2016-07-11 08:16] DysaniazzZ opened #45 "Cann't connect to my device"
When I'm trying to connect to my device, I get this "10060" error. I wanna know how to fix it anxiously.

`D:\Space\ASSpace\android>adb tcpip 5555
restarting in TCP mode port: 5555

D:\Space\ASSpace\android>adb connect 10.2.5.29
unable to connect to 10.2.5.29:5555: cannot connect to 10.2.5.29:5555: 由于连接方在一段时间后没有正确答复或连接的主机没有反应，连接尝试失败。
(10060)
`

[2016-07-11 10:19] HappyDr0id commented on #29
I have exactly the same problem than @nonahex with a Moto X 2nd gen (XT1092).

[2016-07-11 21:39] pedrovgs commented on #45
Hi @DysaniazzZ I need more info.

What's your device model and OS version?
Did you get that trace executing that commands?
Is that the IP of your device?
Is the device connected to the usb cable while you execute the commands?

[2016-07-12 02:42] DysaniazzZ commented on #45
Oh, My device is Meizu MX2 that is assembled in China. Its OS is Flyme OS 3.8.5A, which is based on Android 4.4.4. My Android Studio version is 2.1.2 and the Android WiFi ADB plugin version is the latest, v2.2. The "10.2.5.29" is the IP of my device and I can ping it. I keep my device connected to the usb cable while I execute the commands.

[2016-07-16 08:32] pedrovgs commented on #45
The problem is that your device does not support adb over wifi connection. That's why if you execute:

[code]

The result is "cannot connect to.....". I'm sorry but if your device does not support adb over wifi I can not change the plugin code to get it working :(

[2016-07-16 08:32] #45 closed, assigned to nobody

[2016-07-22 16:23] GRiMe2D commented on #37
I have the same issue.
Have LG G4 Marshmallow.
![screen shot 2016-07-22 at 9 22 12 pm](https://cloud.githubusercontent.com/assets/6705445/17063779/6cb1336a-5052-11e6-83fb-99a50bf866e8.png)
![screen shot 2016-07-22 at 9 22 27 pm](https://cloud.githubusercontent.com/assets/6705445/17063780/6ec0c1ca-5052-11e6-965e-c70bec450b74.png)
![screen shot 2016-07-22 at 9 22 57 pm](https://cloud.githubuserconte

[2016-07-22 16:31] GRiMe2D commented on #37
Also, tried to connect device from command line (using adb) was succeeded. I think, that's a bug

[2016-07-25 08:22] pedrovgs commented on #37
Thanks for the screenshots @GRIM2D. Can you send me a list of steps to reproduce the bug?

[2016-07-25 08:33] GRiMe2D commented on #37
1. Connect my device via USB.
2. Click toolbar icon
3. As it shows that my device is successfully connected, unplug usb cable from device
4. Click `Run`

Here my device isn't shown

[2016-07-25 09:05] pedrovgs commented on #37
I'm trying to reproduce it with the setup you provided me but the device (I don't have your device xD) and the plugin it's working.

If you could fork the project and debug it that'd be great. Right now I don't know why it's failing :S

[2016-07-25 09:06] #32 closed, assigned to nobody

[2016-07-25 09:06] pedrovgs commented on #32
Look @saulmm a new version is coming!

[2016-08-01 08:15] hou-xx opened #47 "Unable to connect to device"
Unable to connect to device 'erver version (32) doesn't match this client (36); killing...'. Make sure that your computer and your device are connected to the same WiFi network.

[2016-08-29 08:17] pedrovgs commented on #47
Hi @tianqing2117 this crash seems to be related to the java version being used. Could you please tell me what's the java version you are using for running your IntelliJ/Android Studion installation. I also need to know the version of the plugin being used and if there are any steps to reproduce the bug. Thanks!

[2016-08-30 14:28] cutiko commented on #47
Greetings

Same problem here, Im using JAVA 8 (jdk1.8.0_101) since the new Nougat release require it.
Plugin version is 2.3

Steps:
1. Connect device via USB
2. Press the icon in Android Studio
3. Error is display `Unable to connect to device 'erver version (32) doesn't match this client (36); killing...'. Make sure that your computer and your device are connected to the same WiFi network.`

Chang

[2016-08-30 14:55] pedrovgs commented on #47
Hi @tianqing2117 @cutiko, the log message you provide could be related to the JDK used to build the 2.3 version. I've just released a new version `Version 2.4` using the JDK 1.6 instead of the JDK 1.8. Could you update your plugin installation and try again? You can download the artifact manually if needed from [this](https://plugins.jetbrains.com/plugin/7983) link.

[2016-08-30 14:58] pedrovgs commented on #47
The notification showing this message `erver version (32) doesn't match this client (36); killing...`  inside the device name and a regular notification showing the text `Android WiFi ADB: Unable to connect to device 'D2533'. Make sure that your computer and your device are connected to the same WiFi network` are not the same. The first one could be related to the JDK used for building the artifac

[2016-08-30 15:26] cutiko commented on #47
@pedrovgs not working, complete logs below, comments added for clarification, using JAVA8 (same mentioned above).

[code]

I have done it about 4 times during the lapse of time after I got the email notification about the 2.4 version.

[2016-08-30 16:49] pedrovgs commented on #47
@cutiko could you double check that you've installed the version 2.4? You can uninstall and install the plugin again to be sure that the version used is the last one I've just released.

If the last one it's not working then try with this commands from any terminal:

Connect the device to your laptop using a USB cable and then execute:

[code]

Send me the result please.

[2016-08-30 19:41] cutiko commented on #47
The first time I did it, I made myself sure to verify the 2.4 version while installing the plugin (install from disk). But took the time, redownload it and reinstall it, why not? I'll be glad if I can help.

First, I have to notice an incredibly unusual behaviour from adb after installing the plugin (after uninstalling it, the odd behaviour stopped). For some reason ADB is constantly trying to con

[2016-08-30 19:54] pedrovgs commented on #47
I don't understand why the plugin does not work. It's working for all the environments I have tried: Android Studio / Intelli J, different JDK installations, different devices, different Android OS, windows and OS X. This is the first time I see the plugin is not working and the user is able to connect the device using the command line. I know that some devices don't support this debug over WiFi f

[2016-08-30 20:00] cutiko commented on #47
Thank you, and if I get any sort of clue or news I'll let you know

[2016-09-06 05:29] 471448446 opened #48 "Devices dashboard"
Where can i find the Devices dashboard? thk
![image](https://cloud.githubusercontent.com/assets/7636279/18262614/deca0fb0-7435-11e6-938e-f2553f8c617d.png)

[2016-09-06 06:33] fearlesstrek opened #49 "After install this plugin,The AS starting slow"
when i click a button it get stuck

[2016-09-06 08:27] pedrovgs commented on #48
Hi @471448446 you have to install the plugin, restart your IDE and open the lateral toolbar. There you'll find the Android WiFi ADB tab.

If you don't see that toolbar, please press the button you'll find at the right bottom corner of your screen. This button shows and hides the toolbar.

<img width="366" alt="screen shot 2016-09-06 at 10 27 11" src="https://cloud.githubusercontent.com/assets/4030

[2016-09-06 08:27] #48 closed, assigned to nobody

[2016-09-06 08:29] pedrovgs commented on #49
I'm so sorry @fearlesstrek :( but this issue you've opened can't be related to the plugin. The CPU consumption associated to this plugin is minimum and all the code is executed in a background thread.

[2016-09-06 08:29] #49 closed, assigned to nobody

[2016-10-12 10:29] ruidalin opened #50 "Can't disconnect device"
I  can  connect my device but how can i disconnect my device ? I try click disconnect button on Devices dashboard and  it is not used , the device is connecting . Then i click 'connect button' and Devices dashboard become  'No  device  connected' when my device just connected by WiFi

[2016-11-26 09:49] TechnoDexx commented on #31
@pedrovgs Need reconnect automatically, then WiFi reconnect.

[2016-12-02 07:44] ghost opened #51 "About Intellij Plugin"
Hi,I try to write a plugin to use `adb push` ,But I can not get the `adb` command.
I read your code , find you use the `AndroidSdkUtils.getAndroidSdkPathsFromExistingPlatforms()`,but I can not import `AndroidSdkUtils`
Could you tell me why? Please.
(sorry for my English)

[2016-12-12 03:24] mhadidg commented on #36
I got the same message when i try to connect to my device while the emulator is running. Turn off your emulator and check if your issue is solved. By the way, my device is C6903, same as yours :)

[2016-12-23 19:00] pedrovgs commented on #50
Hi @ruidalin  sorry for the late response. I've been working on other projects for some time.

The device is automatically disconnected if the wifi state changes. The disconnect button should work. Could you write a comment with the version of the plugin you are using, the device used, the version of android studio and the steps to reproduce the bug?

[2016-12-23 19:19] pedrovgs commented on #51
Hi @HongnianZhang without reading your code I don't know what could be wrong. Review the dependencies added to your plugin configuration. If I'm not wrong there is one related to the Android SDK you need.

[2016-12-23 19:19] #51 closed, assigned to nobody

[2017-01-07 07:22] ruidalin commented on #50
Hi , I'm sorry too . I not used now because i feel no useful for me . My Android Studio version and the plugin version was  newest  at that time but i forged . And my device is xiaomi 4c with android 5.1(22) , Windows 10 enterprise 1607 . I have some advise : I would connect and disconnect  when i debug my application which others will need the same .So  i think connect and disconnect  button is

[2017-01-18 08:23] realdadfish commented on #47
I had the same problem with the most recent version 2.4 - the issue for me was that I had an active emulator in the background and that apparently confused the plugin, even though I did not connect to this thing, but the device.

After I turned the emulator down, the plugin was able to make a connection.

[2017-02-17 15:14] samuelluis commented on #37
@GRIM2D Same device, same bug, did you resolve it?

[2017-02-17 15:26] GRiMe2D commented on #37
@samuelluis Unfortunately no. I switched to using terminal.
1. Connect your phone to computer.
2. Launch terminal and open tcp port, eg 5555.
[code]
3. Unplug your phone and connect through WiFi. You need ip address of your device.
[code]
4. Done. When you click run/debug Android Studio lists connected devices.

[2017-02-20 12:28] leezn opened #52 "Can‘t disconnect on Android Stidio 2.2.3"
Can‘t disconnect on Android Stidio 2.2.3

[2017-02-28 15:32] YYRancho commented on #52
It works on my IDE, Android Studio 2.2.3

[2017-03-02 20:11] JoseGD opened #53 "Cannot connect device when a Genymotion instance is running"
Hi, I've found out that I cannot connect my phone when there is a Genymotion instance running. If I close the emulator, the device is instantly recognized.

My computer is 192.168.1.4, my phone 192.168.1.2, the Genymotion instance is 192.168.56.101.
Maybe the plugin confuses network masks?

[2017-03-22 08:15] wangletao opened #54 "can't work in the android studio 2.3"
please fix the problem thanks

[2017-03-22 09:21] #54 closed, assigned to nobody

[2017-03-23 05:49] tank777 opened #55 "can't connect android studio 2.3"
can't connect android studio 2.3
always give the error please connect with the same network.
I already connected with the same network

[2017-03-26 01:53] Ivolian commented on #55
+1

[2017-04-05 12:52] backslasha commented on #55
+1

[2017-04-07 02:00] happyHou commented on #55
+1

[2017-04-07 05:13] zenochan commented on #55
+1

[2017-04-16 20:06] pedrovgs commented on #55
Hi @tank777 can you review the log traces or debug your plugin installation? I can't reproduce this bug manually in my Android Studio installation.

[2017-04-16 20:07] pedrovgs commented on #55
I also need some extra info:

* What's the Android Studio version you are using now?
* What's the plugin version you are using?
* What was the last Android Studio version you got the plugin working properly?
* Device being used and OS version.
* Laptop or PC OS version and model.

[2017-04-24 12:16] kristijandraca-xx commented on #55
I was having the same issue, and after I exit emulator I was able to connect again.

[2017-05-02 02:56] water-melons opened #56 "Unable to connect to device"
Unable to connect to device oppo

[2017-05-03 09:47] DevDengChao opened #57 "Unable to connect with desktop PC"
The plugin works fine when the usb cable still connected, and I can see my divice in the right panel.
But the moment I disconnect ths usb cable, the adb consule stopped, and the plugin doesn't work anymore.

I' sure my divice and the desktop pc (connect the rounter with net cable, no wifi reciever) in the same net.

I found this appears on [Wifi ADB](https://plugins.jetbrains.com/plugin/7983-andro

[2017-05-03 10:03] DevDengChao commented on #57
Well..I've just got a wifi reciever, it works..I'm a fool..
Maybe the README should describe this more detailly..

[2017-05-03 10:03] #57 closed, assigned to nobody

[2017-05-23 06:53] PoojaB26 commented on #47
I can also vouch for the above solution. Having an active emulator in the background causes this problem.

[2017-05-23 22:42] unlimitedsola commented on #43
![image](https://cloud.githubusercontent.com/assets/3632663/26379489/0ef0def2-404c-11e7-9686-fa89d0eea3c3.png)
the column is not dragable

[2017-06-05 03:44] qingmei2 commented on #55
@kristijandraca
your suggestion is pretty useful,thanks!

[2017-06-07 07:09] EastWoodYang opened #58 "connect automatically ?"
Add settings options of Auto-Connect when connect USB ？

[2017-06-09 09:08] njleonzhang opened #59 "(Mac) install apk slowly in the install step"
with this plugin, it's convenient, but in `instal apk` step , it is very slow.

[2017-06-12 17:08] pedrovgs commented on #59
I'm really sorry but this does not depend on the plugin code. The APK installation is based on ``adb`` and your wifi connection. This is somethign we can't fix changing the plugin.

[2017-06-12 17:08] #59 closed, assigned to nobody

[2017-06-12 17:09] pedrovgs commented on #58
This could be a killer feature! If anyone is interested I'll review the PR 😃

[2017-06-12 17:50] #56 closed, assigned to nobody

[2017-06-13 01:36] njleonzhang commented on #59
OK, tnx

[2017-06-22 07:40] WeiLiX commented on #55
@kristijandraca
your suggestion is pretty useful,thanks!

[2017-06-27 17:28] RomiValladares opened #60 "AndroidWiFiADB connects to device, but it isn't displayed as deployment target"
Hi.
I've successfully used the plugin before, but after updating Android Studio it doesn't work anymore.

Android Wifi ADB version: 2.4
Android Studio version: 2.3.3
JRE: 1.8.0

Steps
1. Check that both computer and device are connected to the same Wi-Fi.
2. Connect device via USB; Android Studio recognizes it.
3. Connect with Android WiFi ADB, disconnect USB.
4. Try to run the app; the device isn

[2017-06-30 06:23] SykesMod commented on #60
happened to me too
as a workaround until this gets fixed, try this workaround:

phone:
enable ADB over network in developer options, take note of the ip (default port 5555)

android studio (windows):
then go to terminal tab of android studio and navigate to your adb folder
(by default, its in this path):
C:\Users\**your_username***\AppData\Local\Android\sdk\platform-tools

once there, simply issue

[2017-07-04 01:36] RomiValladares commented on #60
Thanks! It didn't work though. Maybe it wasn't a problem with the AndroidWiFiADB, and there's something else going on, even though I have the Mac and the device connected to the same WiFi.
<img width="435" alt="screen shot 2017-07-03 at 10 35 46 pm" src="https://user-images.githubusercontent.com/8409964/27811776-174b6086-6040-11e7-9a32-907b91098cac.png">

[2017-07-04 01:54] SykesMod commented on #60
try disabling AndroidWifiADB plugin and issuing commands again

[2017-08-01 16:00] asdzxcasd opened #61 "Connecting without using USB cable for the first time"
It is possible to connect without using a cable at all (at least on some devices). All the information needed is IP address of the device. Is it possible to implement inputting of IP address within the plugin GUI? It would be much more convenient if a cable is not required.

[2017-08-05 08:06] pedrovgs commented on #61
This feature is not implemented. As far as I know, connecting the device to the computer was mandatory. At least it was mandatory when I developed the plugin. I'm going to mark this feature request as an enhancement in case any contributor would like to send a PR 😃

[2017-08-05 08:20] pedrovgs commented on #60
Hi @SykesMod thanks for reporting! I can't reproduce this bug using the same Android Studio version in my computer 😥  It seems you can easily reproduce it! It could be great if you debug the bug and send a PR I tried installing different Android Studio version and using different devices but the plugin seems to be working as expected 😢

[2017-08-06 01:18] kaixuanluo opened #62 "How to use my mobile self network data?"
4G? I need this.

[2017-08-06 08:24] pedrovgs commented on #62
Honestly, I have no idea. I never tried to use this plugin using tethering!

[2017-08-07 12:28] kaixuanluo commented on #62
Well, My English is not well, My mean is when my phone was connected AndroidWiFiADB ,  I can't use the 4G. If my app can only use the 4G, That mean i can't use the AndroidWiFiADB?

[2017-08-12 08:07] duwurensheng010 opened #63 "connect issues"
connect success  but next studio stuck

[2017-08-25 10:43] futurist commented on #58
Every time I'm plugin an USB cable, the Phone disconnected. And I have to manually connect it. In this case I should also be auto-reconnected, I believe.

[2017-08-30 12:01] isabsent commented on #52
Can‘t disconnect on Android Stidio 2.3.3

[2017-09-25 05:54] vv4304 opened #64 "not connect??"
Android WiFi ADB: Unable to connect to device 'erver version (32) doesn't match this client (39); killing...'. Make sure that your computer and your device are connected to the same WiFi network.

[2017-10-01 13:37] #62 closed, assigned to nobody

[2017-10-01 13:49] #64 closed, assigned to nobody

[2017-10-23 01:45] ahaodev opened #65 "Need Root？"

[2017-10-31 22:04] eduardoyurencb commented on #47
I was the same problem, with the versión 2.4 i have to close the emulator for can run the plugin

[2017-11-02 12:45] pedrovgs commented on #65
Nope

[2017-11-02 12:45] #65 closed, assigned to nobody

[2017-11-07 01:32] ahaodev commented on #65
nice

[2017-11-27 08:27] RohitK1992 commented on #60
Getting this same issue in Android Studio 3.0.1 stable version.

[2017-12-06 08:20] kailash09dabhi commented on #60
Yes On my mac it shows connected but dont show up "Select Deployment Target" window!

[2017-12-07 01:22] Tokimu commented on #60
Same on my mac, android studio 3.0.1

[2018-01-27 14:07] jindalAnuj opened #66 "Android Error"
Message
Plugin Error: Android WiFi ADB threw an uncaught ConcurrentModificationException.

[2018-02-20 09:11] piyan13 commented on #60
Same on my linuxmint , android studio 3.0.1

[2018-05-17 13:09] skeets19671938 opened #67 "sign in app"
would like to make myself a app for Android to sign myself in to websites

[2018-07-15 16:52] #67 closed, assigned to nobody

[2019-02-03 19:41] denizsubasi commented on #58
have you had a chance to look? :pray:

[2019-02-05 15:31] washingdone opened #70 "Does not work over Wifi Direct"
Hi All,

I am working on two apps that use a Wifi Direct connection to connect to each other. I wanted to use this to update one of the apps as I make very frequent changes to the code. However, when I connect my laptop to the Wifi Direct network Wifi ADB still gives me the "Please connect to the same Wifi network" error. What can I do to fix this?

Thanks, Washingdone

[2019-02-05 19:23] pedrovgs commented on #58
nope

[2019-03-14 01:50] mikechy2005 opened #71 "Cannot connect device with Android Studio 3.3.2 and Android 8.1"
After clicking Connect, android studio prompted "Unable to connect to device......Same network"
and on device, it prompted for permission.
After allowed on device, click "Connect" on android studio, looping the issue.

Please help. Thanks.

[2019-03-18 06:00] francojohnc commented on #71
same to me its not working to latest android studio

[2019-03-19 06:35] dekzitfz commented on #71
same here with the latest android studio

[2019-03-19 07:57] bogdanzurac commented on #71
Can confirm this issue with the latest update of AS.

[2019-03-19 10:36] pedrovgs commented on #71
Can you provide information related to the device model you are using the OS version and the AS version?

[2019-03-19 10:42] bogdanzurac commented on #71
AS version: 3.3.2
Device model: OnePlus 6T
Device Android version: 9.0

[2019-03-19 10:45] pedrovgs commented on #71
@bogdanzurac what's your computer OS version?

[2019-03-19 11:28] bogdanzurac commented on #71
Computer OS: MacOS Mojave
OS version: 10.14.3

[2019-03-20 00:40] mikechy2005 commented on #71
Computer OS: Win7 x64 and Win10 x64

[2019-03-21 05:00] kpradeepkumarreddy commented on #71
I'm also facing same problem.
Computer OS : Windows 10
Mobile device: oneplus3
Mobile OS: android 8.0.0, OxygenOS: 5.0.8
Android Studio version : 3.3.2

Even when both computer and mobile device are on same network. I'm getting the following message, "unable to connect to the device make sure both computer and mobile device are on same network."

[2019-03-22 07:30] Marcosmaliki commented on #71
This was the ONLY working solution till android studio updated the IDE. It doesn't work, sometimes when the disconnect button is clicked it "connects" but it doesn't really work.

[2019-03-26 19:02] aniketrawat97 commented on #71
Same problem here
Android Studio Version -  3.3.2
Computer OS : Windows 10
Mobile device: MI 3s
Mobile OS: android 6.0.1

This one worked for me - WIFI ADB ULTIMATE by https://github.com/huazhouwang/WIFIADB/tree/master/WIFIADBIntelliJPlugin

[2019-03-31 06:20] ghost commented on #71
Same problem here
Android studio version 3.3.2
adb version  28.0.2-5303910

[2019-04-10 06:00] Miguelacosta90 opened #72 "Why (one plus) plugged in dose not see my phone?"
I plug my phone in and AS lets me run my app but ADB dose not see my phone it is a one plus 6t maybe there is no support is my guess

Thank you in advance for any help.

[2019-04-12 02:00] littleylv commented on #71
Same here:
[code]

[2019-04-14 11:03] pedrovgs commented on #72
Hi @Miguelacosta90 can you plug your device and run ``adb devices``  from your terminal? If adb is not even able to see your phone the plugin will not be able to connect your device using the wireless mode.

[2019-04-14 11:05] pedrovgs commented on #71
Could you check if you can connect your device using the terminal? Right now I don't understand if the issue is related to Android Studio or the plugin. You have to plug in your device and run these commands from your terminal:

[code]

[2019-04-14 15:20] littleylv commented on #71
@pedrovgs Here is what I got:

[code]

[2019-04-15 05:55] bogdanzurac commented on #71
Same here:

[code]

Do you need some additional logs we can provide for you? It does seem strange that this started happening to a couple of us right after AS updated.

[2019-04-18 19:08] Miguelacosta90 commented on #72
when I plug it in it see's the device but I get an error when I try and link it

[2019-05-02 11:35] Mr-ARBN commented on #71
I've got the same problem.
after I try to connect to my device:
`16:00	Android WiFi ADB: Unable to connect to device 'G8142'. Make sure that your computer and your device are connected to the same WiFi network.`

I tried the suggestions. but I got no answer.
OS: Windows 10
Android version: 9
Android Studio: 3.4.0
[code]

[2019-05-07 10:43] JoshuaHuangTW commented on #71
I got same issue here. I'm using Android Studio 3.4 and my phone is samsung s7 edge, it shows same error message(ask me to check same network connection).
However, same android studio version, same phone, my PC connect to my phone successfully.
Hope someone can solve this issue.

[2019-05-12 06:11] guitorioadar commented on #60
I think the problem is with the port.
I found a way from this [link](https://androvaid.com/debug-apps-in-real-device-over-wifi/). If it might help.
Open cmd and write  `$ adb devices` , that will show you the list of connected devices. your device must be connected via a usb cable.
`$ adb tcpip 5555` , write it in the cli and it will restart port: 5555.
`$ adb connect 192.168.0.102:5555`

[2019-05-14 08:50] stefango opened #73 "Unable to connect to device 'MI_5'"
Hello, I linked my phone with my pc by usb3.0, open the hotpot of pc, open the wifi of phone and make phone connect to the hotpot of pc. Unfortunately, I got a trouble in AndroidStudio：Unable to connect to device 'MI_5'. Make sure that your computer and your device are connected to the same WiFi network. Could u tell me how to fix it? The info of my IDE is as follows：

Android Studio 3.3.2
Build #